<div class="filters-box frame-default">
  <h2>FILTRES</h2>
  <%= simple_form_for :search, url: families_path, method: :get do |f| %>
    <div class="container-fluid text-left">
      <h3>LA FAMILLE RECHERCHE</h3>
      <div class="row">
        <%= f.collection_radio_buttons(
          :country,
          Aupair.genders.hash.to_a,
          :last,
          :first,
          item_wrapper_class: "filter-radio col-xs-6 text-left") %>
      </div>
      <h3>LA FAMILLE HABITE :</h3>
      <div class="row">
      <%= f.collection_radio_buttons(
        :country,
        Country.all,
        :id,
        :name,
        item_wrapper_class: "filter-radio col-xs-6 text-left") %>
      </div>
    </div>
    <div class="form-group text-left">
      <h3>LE SÉJOUR COMMENCE :</h3>
      <div class='input-group date' id='datetimepicker-standar'>
        <!-- <input type='text' class="input-group-addon form-control" /> -->
        <%= f.input :date, label: false, input_html: { class: "input-group-addon form-control" } %>
      </div>
    </div>
    <%= f.button :submit, "RECHERCHER", class: "btn btn-black" %>
  <% end %>
</div>




