<div class="container loginview">
  <%= simple_form_for @user do |f| %>
    <%= f.input :name %>
    <%= f.input :country_code, priority: ["FR", "GB", "ES"], label: false, prompt: "Select your country" %>
    <%= f.input :children_age_from %>
    <%= f.input :children_age_to %>
    <%= f.input :children_number %>
    <%= f.input :family_type, collection: User.family_types.map { |k, v| [k, v] }, default: 0 %>
    <%= f.input :domestic_animal %>
    <%= f.input :description %>
    <%= f.input :prefered_gender_aupair, collection: User.genders.map { |k, v| [k, v] }, default: 0 %>
    <%= f.input :starting_date, start_year: Date.today.year, end_year: Date.today.year + 4 %>
    <%= f.input :length_of_stay, collection: User.dispo_lengths.map { |k, v| [k, v] }, default: 0 %>
    <%= f.input :experience_with_aupair %>
    <%= f.input :housework %>
    <%= f.input :driving_license_required %>
    <div class="form-actions text-center">
      <%= f.button :submit, "Mettre à jour", class: "btn-primary btn btn-md" %>
    </div>
  <% end %>
</div>
