<h1>Families#edit</h1>
<p>Find me in app/views/families/edit.html.erb</p>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :country_code, priority: ["FR", "GB", "ES"], label: false, prompt: "Select your country" %>
  <%= f.input :smoker %>
  <%= f.input :domestic_animal %>
  <%= f.submit %>
<% end %>
