<%= simple_form_for @user do |f| %>

<div class="edit-flex-container">

  <div class="left-edit-block">
    <div class="left-title">Mon profil</div>
    <div class="left-percent"><%= @user.profile_completion %> %</div>
    <%= f.button :submit, "Mettre à jour", class: "left-update-btn" %>
  </div>

  <div class="right-edit-block">


      <div class="navbox-2">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs-2" role="tablist" id="myTab">
        <li role="presentation" class="active"><a href="#step1" aria-controls="step1" role="tab" data-toggle="tab">Votre famille</a></li>
        <li role="presentation"><a href="#step2" aria-controls="step2" role="tab" data-toggle="tab">Votre au-pair</a></li>
      </ul>

    </div>



    <div class="tab-content">
      <!-- Step 1 start -->
      <div role="tabpanel" class="tab-pane active" id="step1">
        <div class="navpill-two">

          <div class="right-block-title">
            <div class="title-text">Quelques renseignements pour commencer</div>
          </div>

          <div class="flex-form-right">

            <div class="form-right-block">

              <%= f.input :name, label: "Votre nom de famille" %>
              <%= f.input :country_code, priority: ["FR", "GB", "ES"], label: "Vous habitez en", prompt: "Votre pays" %>
              <div class="input-inline-items">
                Les enfants sont âgés entre&nbsp
                <%= f.input :children_age_from, collection: 0..15, label: false %>
                &nbspet&nbsp
                <%= f.input :children_age_to, collection: 0..20, label: false %>
                &nbspans
              </div>
              <p>Combien d'enfants seront confiés à l'au-pair ?</p>
              <%= f.input :children_number, label: false, collection: 1..10 %>
              <div class="description-padding">
                <%= f.input :description, label: "Dites-nous en un peu plus sur votre famille" %>
              </div>
              <%= f.input :family_type, collection: Family.family_types.keys, default: 0, label: "Votre famille c'est d'abord :", label_method: lambda { |key| t(key) } %>
              <div class="edit-family-label">
                <%= f.input :experience_with_aupair, as: :radio_buttons, label: "Avez-vous deja accueilli une/un au-pair ?" %>
                <%= f.input :domestic_animal, as: :radio_buttons, label: "Avez-vous un animal domestique ?" %>
              </div>

            </div>


          </div>

        </div>
      </div>
      <!-- Step 1 end -->



      <!-- Step 2 start -->
      <div role="tabpanel" class="tab-pane" id="step2">
        <div class="navpill-two">

          <div class="right-block-title">
            <div class="title-text">Vous recherchez...</div>
          </div>


          <div class="flex-form-right">

            <div class="form-right-block">

              <%= f.input :prefered_gender, collection: Aupair.genders.keys, default: 0, label: "Vous recherchez plutot :", label_method: lambda { |key| t("#{key}_prefered") } %>
              <%= f.input :starting_date, start_year: Date.today.year, end_year: Date.today.year + 4, discard_day: true, label: "Début du séjour :" %>
              <%= f.input :prefered_duration, collection: Aupair.stay_durations.keys, default: 0, label: "Durée du séjour souhaitée", label_method: lambda { |key| t(key) } %>
              <%= f.input :housework, as: :radio_buttons, label: "l'aupair devra-t'il donner un coup de main pour les tâches ménagères ?" %>
              <%= f.input :driving_license_required, as: :radio_buttons, label: "l'aupair doit-il disposer du permis de conduire ?" %>


            </div>

          </div>

        </div>
      </div>
      <!-- Step 2 end -->


    </div>


  </div>


</div>

<% end %>
