<div class="loginview text-center">

<h2 class="text-center">Sign up</h2>

<%= simple_form_for @user do |f| %>
  <%= f.input :type, as: :radio_buttons, collection: User::TYPES, checked: User::TYPES.first %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
