<div class="fullpage">

  <div class="filter-block">

    <div class="identity-dashboard">

      <div>
        <div class="dsb-name-title"><%= @user.first_name + " " %><%= @user.last_name %></div>
        <div class="dsb-email"><%= @user.email %> </div>
      </div>

    </div>

    <div class="item-dashboard">

      <i class="fa fa-genderless dsb-left-icon" aria-hidden="true"></i>
      <div>Age<div class="family-name4"><%= (Date.today - @user.birth_date).to_i / 365.25.floor %>  ans </div></div>

    </div>

    <div class="item-dashboard">

      <i class="fa fa-venus-mars dsb-left-icon" aria-hidden="true"></i>
      <div>Genre<div class="family-name4"><%= @user.gender.capitalize %></div></div>

    </div>


    <div class="item-dashboard">
      <i class="fa fa-genderless dsb-left-icon" aria-hidden="true"></i>
      <div>Permis de conduire<div class="family-name4"><%= @user.driving_license ? "oui" : "non" %></div></div>
    </div>

    <div class="item-dashboard">
      <i class="fa fa-genderless dsb-left-icon" aria-hidden="true"></i>
      <div>Sportif<div class="family-name4"><%= @user.sports ? "oui" : "non" %></div></div>
    </div>

    <div class="item-dashboard">
      <i class="fa fa-genderless dsb-left-icon" aria-hidden="true"></i>
      <div>Musicien<div class="family-name4"><%= @user.musician ? "oui" : "non" %></div></div>
    </div>

    <div class="item-dashboard">
      <i class="fa fa-genderless dsb-left-icon" aria-hidden="true"></i>
      <div>Expèrience Au-pair<div class="family-name4"><%= @user.experience_aupair ? "oui" : "non" %></div></div>
    </div>

    <div class="item-dashboard">
      <i class="fa fa-genderless dsb-left-icon" aria-hidden="true"></i>
      <div>Expèrience Jeunesse<div class="family-name4"><%= @user.educational_experience ? "oui" : "non" %></div></div>
    </div>

  </div>



  <div class="content-block">

    <div class="dashboard-top-container">

      <div class="aupair-photo">
        <div class="site-info">"Au-pair photo"</div>
      </div>


      <div class="banner2">
        <div class="banner-content">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <h4><%= @user.email %></h4>
        </div>
      </div>

    </div>


    <div class="your-search" >

      <div class="your-search-item">
        <i class="fa fa-genderless your-search-left-icon" aria-hidden="true"></i>
        <div>Disponible à partir du <div class="family-name4"><%= @user.dispo_from %></div></div>
      </div>

      <div class="your-search-item">
        <i class="fa fa-genderless your-search-left-icon" aria-hidden="true"></i>
        <div>Votre recherche<div class="family-name4"><%= @user.prefered_countries.name %></div></div>
      </div>

      <div class="your-search-item">
        <i class="fa fa-genderless your-search-left-icon" aria-hidden="true"></i>
        <div>Langues parlées<div class="family-name4"><%= @user.spoken_languages.name %></div></div>
      </div>

    </div>


    <div class="ys-aupair-description">

      <div class="ds-title-link">
        <div class="ys-aupair-dsc-text">Description | </div>
        <i class="fa fa-pencil your-search-left-icon2" aria-hidden="true"></i>
      </div>

      <div class="dsc-text">
        <%= @user.description %>
      </div>

    </div>


    <div class="dsb-buttons-group" >

      <%= link_to "Modifier", edit_aupair_path(@user), class: "dsb-profil-btn" %>

    </div>







    <div class="navbox">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Infos</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profil</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Réglages</a></li>
      </ul>

    </div>

    <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="text-center navpill-one">








        <h4 class="navpill-title">Infos</h4>

        <div class="text-center">
          <%= link_to "Modifier", edit_aupair_path(@user), class: "btn-generic" %>
        </div>



      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="text-center navpill-one">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <h4 class="navpill-title">Profil</h4>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="messages">
      <div class="text-center navpill-one">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <h4 class="navpill-title">Messages</h4>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="settings">
      <div class="text-center navpill-one">
        <i class="fa fa-cog fa-spin" aria-hidden="true"></i>
        <h4 class="navpill-title">Réglages</h4>
      </div>
    </div>

  </div>

  </div>

</div>
