<div class="banner2">
  <div class="banner-content">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <h4><%= @user.email %></h4>
  </div>
</div>

<div class="navbox">

<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Infos</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profil</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Réglages</a></li>
  </ul>

  <!-- Tab panes -->

</div>

<div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="container text-center navpill-one">
        <i class="fa fa-database" aria-hidden="true"></i>
        <h4 class="navpill-title">Infos</h4>


          <div class="row">

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="card-titre">EMAIL</div>
            <div class="cardinfos">
              <div class="navbar-wagon-link-grey"><%= @user.email %></div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="card-titre">NOM DE FAMILLE</div>
            <div class="cardinfos">
              <div class="navbar-wagon-link-grey"><%= @user.last_name %></div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="card-titre">PAYS</div>
            <div class="cardinfos">
              <div class="navbar-wagon-link-grey"><%= @user.country_code %></div>
            </div>
          </div>


        </div>



        </br>

        <div>
          <%= link_to "Modifier", edit_aupair_path(@user), class: "btn-modal" %>
        </div>

        </br>
        </br>
        </br>


      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="container text-center navpill-one">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <h4 class="navpill-title">Profil</h4>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="messages">
      <div class="container text-center navpill-one">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <h4 class="navpill-title">Messages</h4>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="settings">
      <div class="container text-center navpill-one">
        <i class="fa fa-cog fa-spin" aria-hidden="true"></i>
        <h4 class="navpill-title">Réglages</h4>
      </div>
    </div>

  </div>


