<div class="modal fade" id="congrats" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-border">
        <div class="modal-close text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <%= link_to root_path do %>
          <%= image_tag("papillon-gris.png", class: "modal-logo") %>
        <% end %>

        <div class="modal-form">
          <% if current_user.specific.profile_completion == 100 %>

            <h3>FÉLICITATIONS!</h3>
            <% if current_user.specific.class.to_s == "Aupair" %>
              <p>Tu viens de rentrer dans la communauté BUTRFLY !</p>
              <p>Nous sommes ravis et te souhaitons de vivre de belles aventures !</p>
              <p>Tu peux, à tout moment modifier ton profil en allant sur :</p>
            <% else %>
              <p>Vous venez de rentrer dans la communauté BUTRFLY !</p>
              <p>Nous sommes ravis et vous souhaitons de vivre de belles aventures !</p>
              <p>Vous pouvez, à tout moment modifier votre profil en allant sur :</p>
            <% end %>
          <% else %>
            <h3>AVERTISSEMENTS!</h3>
            <% if current_user.specific.class.to_s == "Aupair" %>
              <p>Merci d'avoir commencer ton inscription.
              <p>Cependant, seuls <b><%=  current_user.specific.profile_completion  %>%</b> de ton profil ont été renseignés.</p>
              <p>Pour pouvoir rentrer dans la communauté BUTRFLY<br>et bénéficier de nos services il te faudra le finaliser.</p>
              <p>Tu peux, à tout moment compléter ton profil en allant sur :</p>
            <% else %>
              <p>Merci d'avoir commencer votre inscription.
              <p>Cependant, seuls <b><%=  current_user.specific.profile_completion  %>%</b> de votre profil ont été renseignés.</p>
              <p>Pour pouvoir rentrer dans la communauté BUTRFLY<br>et bénéficier de nos services il vous faudra le finaliser.</p>
              <p>Vous pouvez, à tout moment compléter votre profil en allant sur :</p>
            <% end %>
          <% end %>

          <div class="margin-top">
            <%= link_to t("shared.account"), family_path(current_user.specific), class: "btn btn-default modal-btn" if current_user.specific.is_a?(Family)  %>
            <%= link_to t("shared.account"), aupair_path(current_user.specific), class: "btn btn-default modal-btn" if current_user.specific.is_a?(Aupair)  %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $('#congrats').modal('show');
  </script>
<% end %>
