<div class="<%= container_class %> input-string">
  <p><%= question %></p>
  <div class="butrfly-datepicker">
    <div class="form-group">
      <div class='input-group date' id="<%= css_id %>">
        <span class="input-group-addon">
          <i class="fa fa-sort-desc <%= 'color-yellow' if color == :yellow %>" aria-hidden="true"></i>
        </span>
        <input type='text' value="<%= value.to_s.gsub("-", "/") %>" class="form-control datepicker-input" name="<%= field %>" />

      </div>
    </div>
  </div>
</div>


