<div class="navbar-main">
  <div class="navbar-left">
    <%= link_to root_path do %>
      <%= image_tag("papillon-noir.png", class: "navbar-logo") %>
    <% end %>
    <h2 class="navbar-title"><%=  t('meta-title') %></h2>
  </div>

  <div class="navbar-right hidden-xs">
    <%= link_to "COMMENT ÇA MARCHE ?", procedure_path, class: "navbar-link" %>
    <%= link_to "BLOG", t('meta-url-blog'), target: "_blank", class: "navbar-link" %>
    <% if user_signed_in? %>
      <%= link_to t("shared.sign_out"), destroy_user_session_path, class: "navbar-link", method: :delete %>
    <% else %>
      <%= link_to t("shared.sign_up"), '#signup', class: 'navbar-link', 'data-toggle' => 'modal' %>
      <%= link_to t("shared.sign_in"), '#login', class: 'navbar-link', 'data-toggle' => 'modal' %>
    <% end %>
  </div>

  <div class="navbar-dropdown hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <%= link_to "COMMENT ÇA MARCHE ?", procedure_path, class: "navbar-link" %>
        <%= link_to "BLOG", t('meta-url-blog'), target: "_blank", class: "navbar-link" %>
        <% if user_signed_in? %>
          <div class="navbar-link usertype2">- <%= current_user.actable_type.capitalize %> -</div>
          <div class="navbar-link"><%= current_user.email %></div>
          <%= link_to t("shared.sign_out"), destroy_user_session_path, class: "navbar-link", method: :delete %>
        <% else %>
          <%= link_to t("shared.sign_up"), new_user_registration_path, class: "navbar-link" %>
          <%= link_to t("shared.sign_in"), '#login', class: "navbar-link", 'data-toggle' => 'modal' %>

        <% end %>
      </ul>
    </div>
  </div>
</div>
