<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-company-brand" do %>
    <%= image_tag("brix-white-logo.png", class: "menu-icon-brix") %>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">



    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
      <%= link_to t(".sign_out", default: "Mon compte"), dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_out", default: "Se déconnecter"), destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", method: :delete %>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Connexion"), '#login', class: 'navbar-wagon-item navbar-wagon-link', 'data-toggle' => 'modal' %>
      <%= link_to t(".top_call_to_action", default: "Inscription"), '#signup', class: 'navbar-wagon-item navbar-wagon-link', 'data-toggle' => 'modal' %>

    <% end %>

    <!-- Button (call-to-action) -->

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

        <% if user_signed_in? %>
      <div class="navbar-wagon-item navbar-wagon-link-grey"><%= current_user.email %></div>
      <%= link_to t(".sign_out", default: "Se déconnecter"), destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link-black", method: :delete %>



    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link-black" %>
      <%= link_to t(".top_call_to_action", default: "Créer un compte"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link-black" %>

    <% end %>



      </ul>
    </div>
  </div>
</div>
