<div class="plan border-black-white margin-30px" style="flex-grow: 1;">
  <%= image_tag("papillon-gris.png", class: "modal-logo") %>
  <h4><%= plan.name %></h4>
  <div class="paragraph">
    <p><b><%= plan.metadata[:description] %></b></p>
  </div>
  <div class="btn btn-black-lg">
    <%= plan.metadata[:bring] %>€
    <!-- puis <%#= (plan.amount.to_f / 100).round(2) %>€/<%= plan.interval %> -->
  </div>
  <div class="paragraph">
    <% plan.metadata[:content].split("\n").each do |point| %>
      <p><%= point %></p>
    <% end %>
  </div>
  <% if current_user.present? %>
    <% unless current_user.active? && current_user.specific.class.to_s != plan.metadata[:customer].capitalize %>
      <div class="paragraph">
        <div class="border-bottom"></div>
      </div>
      <%= form_tag payments_path do %>
        <%= hidden_field_tag 'amount_cents', (plan.metadata[:bring].to_i * 100) %>
        <%= hidden_field_tag 'plan_id', plan.id %>
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
          data-amount="<%= (plan.metadata[:bring].to_i * 100) %>"
          data-name="Demo Site"
          data-description="Widget"
          data-image="<%= image_path 'papillon-gris.png' %>"
          data-locale="auto"
          data-email="<%= current_user.email %>"
          data-zip-code="true"
          data-currency="eur">
        </script>
      <% end %>
    <% end %>
  <% end %>
</div>

