<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-border">
        <div class="modal-close text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <%= link_to root_path do %>
          <%= image_tag("papillon-gris.png", class: "modal-logo") %>
        <% end %>
        <h3>JE CRÉE UN COMPTE EN TANT QUE :</h3>
        <div class="modal-form">
          <%= simple_form_for(:user, url: user_registration_path, html: {class: 'modal-form-inputs'}) do |f| %>
            <%= f.error_notification %>
            <%= f.input :type, as: :radio_buttons, radio_buttons_style: :inline, collection: User::DEVISE_TYPES, checked: "Aupair", label: false %>
            <div class="modal-border-bottom"></div>
            <%= f.input :email, required: false, autofocus: true, placeholder: 'adresse e-mail', label: false,
            input_html: {class: 'modal-input-italic'} %>
            <div class="modal-password-group">
              <%= f.input :password, required: false, placeholder: "mot de passe", label: false, hint: ("6 characters minimum") %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, t('shared.sign_up'), class: 'modal-btn' %>
            </div>
          <% end %>

          <%- if controller_name != 'sessions' %>
            <div class="modal-bottom-link">
              <div class="modal-link-italic">Déjà inscrit?</div>
              <%= link_to "Connexion", '#login', 'data-toggle' => 'modal', class: "modal-link-italic" %>
            </div>
          <% end -%>

        </div>
      </div>
    </div>
  </div>
</div>


