<div class="modal fade signup-sm" id="signup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" id="signup-control">

        <%= link_to root_path do %>
          <%= image_tag("modal-logo2.svg", class: "menu-icon2") %>
        <% end %>


        <%= simple_form_for(:user, url: user_registration_path) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs" id="modal-radio-choice">
            <p>Je crée un compte en tant que :</p>
            <%= f.input :type, as: :radio_buttons, collection: User::DEVISE_TYPES, checked: "Aupair", label: false %>
            <%= f.input :email, required: true, autofocus: true, placeholder: 'Email', label: false %>
            <%= f.input :password, required: true, placeholder: 'Password', hint: ("6 characters minimum"), label: false %>
          </div>

          <div class="form-actions text-center" id="modal-button-signup">
            <%= f.button :submit, "Inscription" %>
          </div>
        <% end %>

        <div class="loginmargins modal-links">
          <%- if controller_name != 'sessions' %>
            <div class="link-item">Déjà inscrit?</div>
            <%= link_to "Connexion", new_session_path(resource_name), class:"link-item2" %><br />
          <% end -%>

        </div>

  </div>
</div>
