<div class="wrapper bg-blue">
  <div class="container">
    <div class="row">
      <div class="border-black-white text-center">
        <%= image_tag("papillon-gris.png", class: "modal-logo") %>
        <h2>
          <%= "Nos engagements pour les  jeunes au pair".upcase %>
        </h2>
        <p>Parce que BUTRFLY souhaite que votre expérience au pair soit inoubliable
         nous nous engageons.
        </p>
        <div class="border-bottom margin-50px"></div>

        <div class="text-left margin-50px">
          <ul class="list-star">
            <li>
              <h4><%= "La certification des profils des familles".upcase %></h4>
              <p>
              Pour un accueil en toute sécurité, nous certifions les profils des familles. Nous vérifions leur identité, leur domicile et les conditions d’accueil (type de logement), leur casier judiciaire et les motivations à accueillir un ou une jeune au pair chez eux.
              </p>
            </li>
            <li>
              <h4><%= "La rémunération garantie".upcase %></h4>
              <p>
              Avec BUTRFLY, plus de retard de paiement de votre argent de poche. En rejoignant la communauté, BUTRFLY t’ouvre dès ton arrivée un compte bancaire online avec une carte de crédit.
              Ton argent de poche est donc prélevé systématiquement sur le compte de la famille et versé sur ton compte chaque semaine.
              </p>
            </li>
            <li>
              <h4><%= "Une formation pédagogique".upcase %></h4>
              <p>
              Parce que c’est peut être ta première expérience au pair et que tu la vivras encore mieux avec quelques outils, BUTRFLY est la seule plateforme te proposant une formation pédagogique à ton arrivée : organisation d’une journée, les gestes de premiers secours en cas d’accident, des conseils  pour gérer les enfants au quotidien, savoir communiquer avec les parents, des idées d'ateliers créatifs, des fiches cuisine pour t’inspirer.
              </p>
            </li>
            <li>
            <h4><%= "L’adhésion à la charte morale BUTRFLY".upcase %></h4>
              <p>
              En signant notre charte, les familles et les jeunes Au pair s’engagent à respecter le cadre du contrat d’Au pair mais aussi à adhérer à nos valeurs fondamentales : <%= link_to 'la bienveillance', 'http://blog.butrfly.com/10-phrases-education-positive/'  %>, le respect de l’autre, <%= link_to 'l’éducation positive', "http://blog.butrfly.com/au-pair-education-positive/"  %> vis-à-vis des enfants.
              </p>
            </li>
            <li>
            <h4><%= "Un accompagnement à l’intégration".upcase %></h4>
              <p>
              Pour que tu ne passes que des moments agréables dès ton arrivée,  BUTRFLY te donne un KIT d’intégration pour te simplifier la vie  : les contacts clés, les lieux importants à connaître autour de chez vous, la localisation des autres jeunes au Pair BUTRFLY.
              </p>
            </li>
            <li>
              <h4><%= "L’assistance en cas de problème".upcase %></h4>
              <p>
              En cas de litige avec ta famille d’accueil qui ne puisse pas être résolu seul, BUTRFLY est à tes côtés pour t’aider. Ensemble nous trouverons la meilleure solution pour résoudre le problème.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
