<div class="wrapper bg-yellow">
  <div class="container">
    <div class="row">
      <div class="border-black-white text-center">
        <%= image_tag("papillon-gris.png", class: "modal-logo") %>
        <h2>
          NOS ENGAGEMENTS POUR LA FAMILLE
        </h2>
        <p>
          Parce que BUTRFLY souhaite que votre expérience au pair se passe dans les meilleures conditions nous nous engageons.
        </p>
        <div class="border-bottom margin-50px"></div>

        <div class="text-left margin-50px">
          <ul class="list-star">
            <li>
              <h4><%= "La certification des profils au pair".upcase %></h4>
              <p>
                Pour un accueil en toute sécurité, nous certifions les profils des jeunes au pair qui nous rejoignent. Nous vérifions leur identité, leur casier judiciaire, leur CV et leurs recommandations.
              </p>
            </li>
            <li>
              <h4><%= "Une formation pédagogique pour les Au Pair".upcase %></h4>
              <p>
                Pour que votre Au Pair puisse pleinement vivre sa mission et se sentir à l'aise dès ses premiers jours , BUTRFLY est la seule plateforme lui  proposant une formation pédagogique à son arrivée : comment organiser une journée avec les enfants, les gestes de premiers secours en cas d’accidents, des conseils pour gérer les enfants au quotidien, des ateliers créatifs, des fiches cuisine pour s’inspirer.
              </p>
            </li>
            <li>
              <h4><%= "L’adhésion à la charte morale BUTRFLY".upcase %></h4>
              <p>
                En signant notre charte, les familles et les jeunes Au pair s’engagent à respecter le cadre du contrat d’Au pair mais aussi à adhérer à nos valeurs fondamentales : <%= link_to "la bienveillance", "http://blog.butrfly.com/10-phrases-education-positive/" %>, le respect de l’autre, <%= link_to "l’éducation positive", "http://blog.butrfly.com/au-pair-education-positive/" %> vis-à-vis des enfants.
              </p>
            </li>
            <li>
              <h4><%= "Un Kit d’intégration ".upcase %></h4>
              <p>
                Pour que vous ne perdiez pas de temps à chercher la bonne info et que vous prépariez au mieux l’intégration de votre jeune au pair, BUTRFLY vous fournit un kit d’intégration (aide aux démarches administratives avant l’arrivée de votre jeune au pair, planning et règles de vie, guide des bonnes pratiques).
              </p>
            </li>
            <li>
              <h4><%= "L’assistance en cas de problème".upcase %></h4>
              <p>
                En cas de litige avec votre jeune au pair qui ne puisse pas être résolu, BUTRFLY est à vos côtés. Ensemble nous trouverons la meilleure solution pour résoudre le problème.
              </p>
            </li>
            <li>
              <h4><%= "La rémunération facilitée".upcase %></h4>
              <p>
                Finies les contraintes de courir retirer l’argent de poche chaque semaine. L’argent de poche de votre jeune au pair est prélevé chaque semaine sur votre compte et versé sur le compte bancaire français de votre jeune au pair.
              </p>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>








