<!-- Banner position absolute, add content in .home-banner-content -->
<div class="home-banner">
</div>
<div class="home-banner-content">
</div>

<!-- cards link to index pages -->
<div class="home-search-container centered">
  <%= link_to aupairs_path do %>
    <div class="family-card text-center">
      <h1>JE SUIS UNE FAMILLE</h1>
      <p><span>Je cherche mon aupair</span></p>
      <hr>
      <p>Je créé un profil</p>
      <p>Je trouve mon aupair</p>
      <p>Je l’accueille</p>
    </div>
  <% end %>
  <%= link_to families_path do %>
    <div class="aupair-card text-center">
      <h1>JE SUIS UN AUPAIR</h1>
      <p><span>Je cherche une famille</span></p>
      <hr>
      <p>Je créé un profil</p>
      <p>Je trouve ma famille</p>
      <p>On m'accueille</p>
    </div>
  <% end %>
</div>

<!-- about us start -->
<div class="butrfly-container text-center">
  <h2 class="butrfly-title"><%= t(".title").upcase %></h2>
  <p class="butrfly-fulltext"><%= t(".text") %></p>
</div>
<!-- about us end -->

<div class="mission-banner">
  <div class="mission-container">
  <div class="neutral-card text-center centered">
    <h3>LA MISSION BUTRFLY</h3>
    <p>
      Faciliter le recrutement du jeune Au pair et la recherche de la Famille d’accueil via un service rassurant et personnalisé
    </p>
    <%= link_to "EN SAVOIR PLUS", "#" %>
  </div>
  </div>
</div>

<!-- WIP -->
<div class="butrfly-container text-center">
  <h2 class="butrfly-title">RETROUVEZ TOUTES NOS ACTUS SUR LE BLOG</h2>
</div>
