<div class="container">
  <div class="procedure-main background-bicolor">
    <div class="procedure-title ">
      <h2>COMMENT ÇA MARCHE ?</h2>
    </div>
    <div class="procedure-icons">
      <div class="procedure-icon">
        <%= image_tag 'web-white.png', class: "svg-color" %>
        <h4>JE CRÉE MON COMPTE</h4>
      </div>
      <div class="procedure-icon">
        <%= image_tag 'web-white.png', class: "svg-color" %>
        <h4>JE CRÉE MON COMPTE</h4>
      </div>
      <div class="procedure-icon">
        <%= image_tag 'web-white.png', class: "svg-color" %>
        <h4>JE CRÉE MON COMPTE</h4>
      </div>
      <div class="procedure-icon">
        <%= image_tag 'web-white.png', class: "svg-color" %>
        <h4>JE CRÉE MON COMPTE</h4>
      </div>
      <div class="procedure-icon">
        <%= image_tag 'web-white.png', class: "svg-color" %>
        <h4>JE CRÉE MON COMPTE</h4>
      </div>
      <div class="procedure-icon">
        <%= image_tag 'web-white.png', class: "svg-color" %>
        <h4>JE CRÉE MON COMPTE</h4>
      </div>
    </div>
  </div>


</div>
