<div class="container">
  <div class="procedure-main background-bicolor">
    <div class="procedure-title ">
      <h2>COMMENT ÇA MARCHE ?</h2>
    </div>
    <div class="procedure-icons">
      <div>
        <%= image_tag 'web-white.png' %>
        <h4>JE CRÉE</h4>
        <h4>MON COMPTE</h4>
      </div>
      <div>
        <%= image_tag 'web-white.png' %>
        <h4>JE REMPLIS</h4>
        <h4>MON PROFIL</h4>
      </div>
      <div>
        <%= image_tag 'web-white.png' %>
        <h4>JE CHOISIS MON</h4>
        <h4>AU PAIR OU MA FAMILLE</h4>
        <h4>ET JE LE/A CONTACTE</h4>
      </div>
      <div>
        <%= image_tag 'web-white.png' %>
        <h4>JE VALIDE</h4>
        <h4>MA SÉLECTION</h4>
      </div>
      <div>
        <%= image_tag 'web-white.png' %>
        <h4>JE REÇOIS</h4>
        <h4>MON CONTRAT</h4>
      </div>
      <div>
        <%= image_tag 'three-1-white.png' %>
        <h4>JE VIS L’EXPÉRIENCE ET</h4>
        <h4>JE REJOINS LA COMMUNAUTÉ</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      <div class="frame-default frame-blue procedure-frame">
        <div>
          <h2>AVANTAGE POUR L’AU PAIR</h2>
          <div class="border-bottom"></div>
        </div>
        <div>
          <h3>DÉCOUVRIR LE MONDE</h3>
          <p>
            Envie de voyager et d’apprendre une langue étrangère ? Avec l’au pair, tu as la chance de pouvoir vivre à l’étranger, dans un environnement très doux, sans avoir à chercher du travail ou un appartement. Et en prime, ta famille d’accueil sera heureuse de partager avec toi sa culture !
          </p>
          <h3 class="procedure-h3-right">APPRENDRE UNE LANGUE</h3>
          <p>
            Envie d’améliorer son CV et de développer de nouvelles compétences? Une nouvelle langue, le management d’une équipe de plusieurs enfants, le pilotage d’un emploi du temps familial, la gestion des imprévus, une capacité d’adaptation hors-pair autant de savoirs qui te serviront pour la vie.
          </p>
          <h3>FAIRE DES RENCONTRES</h3>
          <p>
            Envie de faire des rencontres et de s’amuser? Avec l’au pair tu as de l’argent de poche et du temps libre et tu pourras rencontrer d’autres au pair comme toi grâce à la communauté BUTRFLY. N’oublie pas que ta famille d’accueil fera également tout pour que tu te plaises.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      <div class="frame-default procedure-frame">
      <div>
        <h2>AVANTAGE POUR LA FAMILLE</h2>
        <div class="border-bottom"></div>
      </div>
      <div>
        <h3>AIDE AU QUOTIDIEN</h3>
        <p>
          L’ Au pair, c’est la sérénité de ne plus vous laisser déborder ! Aller chercher les enfants à l’école, les accompagner aux activités, passer au pressing et vider le lave-vaisselle : un(e) au pair vous offre un mode garde flexible et vous soulage dans les petits riens du quotidien.
        </p>
        <h3 class="procedure-h3-right">INITIATION LINGUISTIQUE</h3>
        <p>
          Une initiation linguistique et une ouverture sur le monde dès tout petit. Avec l’au pair vos enfants vont avoir la chance d’entendre parler une autre langue à la maison et vous allez découvrir que vos enfants ont un délicieux accent.
        </p>
        <h3>TOLÉRANCE</h3>
        <p>
          L’expérience au pair un joli cadeau pour la vie ! L’au pair c’est le confident, le compagnon de jeu qui devient très vite la grande soeur ou le grand frère avec qui se crée une relation forte. Il nous apprend qu’ailleurs on peut vivre autrement et c’est parfait aussi, une bonne dose de tolérance.
        </p>
      </div>

    </div>
    </div>
  </div>

</div>
