
<div class="mansory-container item <%= aupair.languages.pluck(:code).join(" ") %>">

  <div class="mansory-picture" style="background-image: url(<%= if aupair.photos.empty? then "" else  cl_image_path aupair.photos.first.path end %>);"></div>

  <div class="mansory-text">
    <div class="m-real-text">
      <%= aupair.first_name %> <%= aupair.last_name %>
    </div>
    <div>
      <%= link_to "Voir", aupair, class: "mansory-button" %>
    </div>
  </div>

</div>
