<div class="filters-box frame-default frame-blue">
  <h2>FILTRES</h2>
  <div class="container-fluid text-left">
    <!-- <h3>VOTRE AU PAIR DOIT PARLER :</h3><p>Coco</p> -->
    <h3>PERMIS DE CONDUIRE :</h3><p><%= yes_or_no( @user.driving_license ) %></p>
    <h3>EXPÉRIENCE AU PAIR :</h3><p><%= yes_or_no( @user.experience_aupair ) %></p>
    <h3>EXPÉRIENCE GARDE D'ENFANTS :</h3><p><%= yes_or_no( @user.educational_experience ) %></p>
    <h3>SPORTIF :</h3><p><%= yes_or_no( @user.sports ) %></p>
    <h3>MUSICIEN :</h3><p><%= yes_or_no( @user.musician ) %></p>
    <h3>NATIONALITÉ :</h3><p><%= @user.country_code %></p>
  </div>
</div>

