<%= simple_form_for @user do |f| %>

  <div class="butrfly-wrapper div-center">
    <div class="butrfly-container div-center">
      <div class="hidden-xs hidden-ms">
        <%= render "shared/square_box", title: "MON<br>PROFIL", color: :blue %>
        <%= render "shared/cursor", percent: 71, color: :blue %>
        <div class="frame-default frame-white">
          <%= f.button :submit, "METTRE À JOUR", class: "input-button" %>
        </div>
        <div class="frame-default frame-white">
          <%= f.button :submit, "SUPPRIMER", class: "input-button" %>
        </div>
      </div>
      <div class="index-container">
        <%= edit_tabs_html("blue") %>
        <div class="border-default width-100 padding-20px">
          <div class="container-fluid">
            <%= render "shared/titles-blue-and-white", index: 0 %>
            <div class="div-left">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          label: false,
                          placeholder: "email",
                          input_html: { class: "border-default"}
              %>
              <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= @user.unconfirmed_email %></p>
              <% end %>
              <%= f.input :current_password,
                          required: true,
                          label: false,
                          placeholder: "nouveau mot de passe",
                          input_html: { class: "border-default"}
              %>
            </div>
            <div class="div-left">
              <%= f.input :password,
                          autocomplete: "off",
                          required: false,
                          label: false,
                          placeholder: "ancien mot de passe",
                          input_html: { class: "border-default"}
              %>
              <%= f.input :password_confirmation,
                          required: false,
                          label: false,
                          placeholder: "confirmation",
                          input_html: { class: "border-default"}
              %>
            </div>
          </div>
          <div class="container-fluid">
            <%= render "shared/titles-blue-and-white", index: 1 %>
            <div class="row">
              <%= input_boolean_html  f: f,
                                      field: :gender,
                                      answers: Aupair.genders.hash.to_a,
                                      question: ""
              %>
              <%= render  "shared/datepicker",
                          container_class: "col-md-6 div-left",
                          question: "Ta date de naissance",
                          css_id: "datetimepicker-year", field: "birth_date"
              %>
              <div class="col-md-6 input-string">
                <%= f.input :first_name,
                            label:"Ton petit nom :",
                            placeholder: "Prénom"
                %>
              </div>
              <div class="col-md-6 input-string">
                <%= f.input :last_name,
                            label:"Ton nom de famille :",
                            placeholder: "Nom"
                %>
              </div>
              <%= input_collection_html f: f,
                                        field: :country_code,
                                        question: "Nationalité ?",
                                        priority: ["FR", "GB", "ES"],
                                        label: false
              %>
              <div class="col-xs-12 div-left width-100">
                <div class="upload-photos">
                  <%= f.input :photos, label: false, as: :attachinary %>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <%= render "shared/titles-blue-and-white", index: 2 %>
            <div class="row">
              <%= input_boolean_html  f: f,
                                      field: :driving_license,
                                      question: "As-tu le permis de conduire ?"
              %>
              <%= input_boolean_html  f: f,
                                      field: :accepted_domestic_animal,
                                      question: "Acceptes-tu les animaux domestiques ?"
              %>
              <%= input_boolean_html  f: f,
                                      field: :educational_experience,
                                      question: "As-tu l'habitude de garder des enfants ?"
              %>
              <%= input_boolean_html  f: f,
                                      field: :experience_aupair,
                                      question: "As-tu déjà eu une expérience au pair ?"
              %>
              <%= input_boolean_html  f: f,
                                      field: :sports,
                                      question: "Pratiques-tu un sport ?"
              %>
              <%= input_boolean_html  f: f,
                                      field: :musician,
                                      question: "Joues-tu d'un instrument ?"
              %>
              <div class="col-xs-12">
                <%= f.input :description,
                            label: false ,
                            placeholder: "Dis nous en un peu plus sur toi",
                            input_html: {class: "border-default text-center" }
                %>
              </div>
            </div>
          </div>
          <%#= render "shared/titles-blue-and-white", index: 3 %>
          <div class="container-fluid">
            <%= render "shared/titles-blue-and-white", index: 4 %>
            <div class="row">
              <%= render  "shared/datepicker",
                          container_class: "col-md-6 div-left",
                          question: "À partir de quelle date es-tu disponible ?",
                          css_id: "datetimepicker-standar", field: "dispo_from"
              %>
              <%= input_collection_html f: f,
                                        field: :stay_duration,
                                        question: "Pour quelle période souhaites-tu partir ?",
                                        collection: Aupair.stay_durations.keys,
                                        default: 0,
                                        priority: ["FR", "GB", "ES"],
                                        label: false,
                                        label_method: lambda { |key| t(key) }
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>


