<%= simple_form_for @user do |f| %>

  <div class="butrfly-wrapper div-center">
    <div class="butrfly-container div-center">
      <div class="hidden-xs hidden-ms">
        <%= render "shared/square_box", title: "MON<br>PROFIL", color: :blue %>
        <%= render "shared/cursor", percent: 71, color: :blue %>
        <div class="frame-default frame-btn fr-btn-white margin-box">
          <%= f.button :submit, "METTRE À JOUR", class: "input-button" %>
        </div>
        <div class="frame-default frame-btn fr-btn-white margin-box">
          <%= f.button :submit, "SUPPRIMER", class: "input-button" %>
        </div>
      </div>
      <div class="index-container">
        <%= edit_tabs_html("blue") %>
        <div class="border-default width-100 padding-20px margin-bottom-50px">
          <div class="container-fluid">
            <%= render "shared/titles", color: :blue, index: 0 %>
            <div class="row">
              <div class="col-md-6 input-string">
                <%= f.input :phone,
                            label: "<i class='radio-icon fa fa-phone' aria-hidden='true'></i>Ton numéro de téléphone :".html_safe,
                            placeholder: "+33 6 ..."
                %>
              </div>

              <div class="col-md-6 input-string">
                <%= f.input :address,
                            label:"<i class='radio-icon fa fa-envelope-o' aria-hidden='true'></i>Ton adresse :".html_safe,
                            placeholder: "6 rue Molière"
                %>
              </div>
              <div class="col-md-6 input-string">
                <%= f.input :city,
                            label:"Ta ville :",
                            placeholder: "Paris"
                %>
              </div>
              <%= input_collection_html f: f,
                                        field: :country_code,
                                        question: "<i class='radio-icon fa fa-globe' aria-hidden='true'></i>Le pays où tu vis :".html_safe,
                                        priority: ["FR", "GB", "ES"],
                                        label: false
              %>
            </div>
          </div>
          <div class="container-fluid">
            <%= render "shared/titles", color: :blue, index: 1 %>
            <div class="row">
              <%= input_boolean_html  f: f,
                                      field: :gender,
                                      # answers: Aupair.genders.hash.to_a,
                                      answers: [["Garçon", 1], ["Fille", 0]],
                                      question: "",
                                      icon: "fa-venus-mars"
              %>
              <%= render  "shared/datepicker",
                          container_class: "col-md-6 div-left",
                          question: "<i class='radio-icon fa fa-birthday-cake' aria-hidden='true'></i>Ta date de naissance".html_safe,
                          css_id: "datetimepicker-year", field: "birth_date"
              %>
              <div class="col-md-6 input-string">
                <%= f.input :first_name,
                            label:"Ton petit nom :",
                            placeholder: "Prénom"
                %>
              </div>
              <div class="col-md-6 input-string">
                <%= f.input :last_name,
                            label:"Ton nom de famille :",
                            placeholder: "Nom"
                %>
              </div>
              <%= input_collection_html f: f,
                                        field: :country_code,
                                        question: "Nationalité ?",
                                        priority: ["FR", "GB", "ES"],
                                        label: false
              %>
              <div class="col-xs-12 div-left width-100">
                <div class="upload-photos">
                  <%= f.input :photos, label: false, as: :attachinary %>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <%= render "shared/titles", color: :blue, index: 2 %>
            <div class="row">
              <%= input_collection_html f: f,
                                        field: :languages,
                                        question: "Quelles langues parles-tu couramment ?",
                                        label: false,
                                        collection: Language.all
              %>
              <%= input_collection_html css_class: "col-md-12 input-string div-left items-center",
                                        f: f,
                                        field: :languages,
                                        question: "Dans quelles langues as-tu des connaissances de base ?",
                                        label: false,
                                        collection: Language.all
              %>
              <%= input_boolean_html  f: f,
                                      field: :driving_license,
                                      question: "As-tu le permis de conduire ?",
                                      icon: "fa-car"
              %>
              <%= input_boolean_html  f: f,
                                      field: :accepted_domestic_animal,
                                      question: "Acceptes-tu les animaux domestiques ?",
                                      icon: "fa-paw"
              %>
              <%= input_boolean_html  f: f,
                                      field: :educational_experience,
                                      question: "As-tu l'habitude de garder des enfants ?",
                                      icon: "fa-child"
              %>
              <%= input_boolean_html  f: f,
                                      field: :experience_aupair,
                                      question: "As-tu déjà eu une expérience au pair ?"
              %>
              <%= input_boolean_html  f: f,
                                      field: :sports,
                                      question: "Pratiques-tu un sport ?",
                                      icon: "fa-futbol-o"
              %>
              <%= input_boolean_html  f: f,
                                      field: :musician,
                                      question: "Joues-tu d'un instrument ?",
                                      icon: "fa-music"
              %>
              <div class="col-xs-12 margin-bottom-20px">
                <%= f.input :description,
                            label: false ,
                            placeholder: "Dis nous en un peu plus sur toi",
                            input_html: {class: "border-default text-center height-200" }
                %>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <%= render "shared/titles", color: :blue, index: 3 %>
            <div class="row">
              <%#= input_boolean_html  f: f,
                                      field: :housework,
                                      question: "Acceptes-tu d'aider la famille dans les tâches ménagères ?"
              %>
              <%= input_collection_html css_class: "col-md-12 input-string div-left items-center",
                                        f: f,
                                        field: :environment,
                                        question: "<i class='radio-icon fa fa-home' aria-hidden='true'></i>Dans quel environnement souhaites-tu vivre ?".html_safe,
                                        label: false,
                                        collection:  Aupair.environments,
                                        selected: @user.environment
              %>
              <%= input_boolean_html  css_class: "col-md-12 div-left items-center",
                                      f: f,
                                      field: :housework,
                                      question: "Acceptes-tu d’aider la famille dans les tâches ménagères ?",
                                      icon: "fa-cutlery"
              %>
              <div class="col-md-12 input-string">
                <%= f.input :favorite_region,
                            label:"Pour quelle région as-tu une préférence ?",
                            placeholder: ""
                %>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <%= render "shared/titles", color: :blue, index: 4 %>
            <div class="row">
              <%= render  "shared/datepicker",
                          container_class: "col-md-12 div-left",
                          question: "<i class='radio-icon fa fa-calendar' aria-hidden='true'></i>À partir de quelle date es-tu disponible ?".html_safe,
                          css_id: "datetimepicker-standar", field: "dispo_from"
              %>
              <%= input_collection_html css_class: "col-md-12 input-string div-left items-center",
                                        f: f,
                                        field: :stay_duration,
                                        question: "<i class='radio-icon fa fa-history' aria-hidden='true'></i>Pour quelle période souhaites-tu partir ?".html_safe,
                                        collection: Aupair.stay_durations.keys,
                                        default: 0,
                                        label: false,
                                        label_method: lambda { |key| t(key) }
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
