<%= simple_form_for @user do |f| %>

  <div class="butrfly-wrapper div-center">
    <div class="butrfly-container div-center">
      <div>
        <div class="filters-box frame-default frame-blue">
          <h2>MON PROFIL</h2>
        </div>
        <div class="filters-box frame-default frame-blue">
          <%= f.button :submit, "Update" %>
        </div>
      </div>
      <div class="index-container">
        <%= edit_tabs_html("blue") %>
        <div class:="border-default width-100">
          <%= render "shared/titles-blue-and-white", index: 0 %>
          <div class="div-left">
            <%= f.input :email, required: true, autofocus: true %>
            <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= @user.unconfirmed_email %></p>
            <% end %>
            <%= f.input :current_password, required: true %>
          </div>
          <div class="div-left">
            <%= f.input :password, autocomplete: "off", required: false %>
            <%= f.input :password_confirmation, required: false %>
          </div>
          <%= render "shared/titles-blue-and-white", index: 1 %>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :gender, collection: Aupair.genders.keys, default: 0, label:"Ton sexe", label_method: lambda { |key| t(key) } %>
              </div>
              <div class="col-md-6">
                <%= f.input :birth_date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, label:"Ta date de naissance" %>
              </div>
              <div class="col-md-6">
                <%= f.input :first_name, label:"Ton petit nom" %>
              </div>
              <div class="col-md-6">
                <%= f.input :last_name, label:"Ton nom de famille" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :country_code, priority: ["FR", "GB", "ES"], label:"Ta nationalité" %>
              </div>
              <div class="col-xs-12 div-left width-100">
                <%= f.input :photos, as: :attachinary %>
              </div>
            </div>
          </div>
          <%= render "shared/titles-blue-and-white", index: 2 %>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :driving_license, as: :radio_buttons, label: "As-tu le permis de conduire ?" %>
              </div>
              <div class="col-md-6">
                <%= f.input :accepted_domestic_animal, as: :radio_buttons, label: "Acceptes-tu les animaux domestiques ?" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :educational_experience, as: :radio_buttons, label: "As-tu l'habitude de garder des enfants ?"  %>
              </div>
              <div class="col-md-6">
                <%= f.input :experience_aupair, as: :radio_buttons, label: "As-tu déjà eu une expérience au pair ?" %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :sports, as: :radio_buttons, label: "Pratiques-tu un sport ?" %>
              </div>
              <div class="col-md-6 div-left">
                <p>Joues-tu d'un instrument ?</p>
                <%= f.collection_radio_buttons :musician, [[true, 'Yes'] ,[false, 'No']], :first, :last, item_wrapper_class: "custom-radio text-left" %>
              </div>
          </div>
              <div class="col-xs-12">
                <%= f.input :description, label: "Décrivez-vous en quelques lignes", input_html: {class: "border-default" } %>
              </div>
            </div>
          </div>
          <%#= render "shared/titles-blue-and-white", index: 3 %>
          <%= render "shared/titles-blue-and-white", index: 4 %>
          <div class="container-fluid">
            <div class="row">
              <div class='col-md-6'>
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker7'>
                    <span class="input-group-addon width-10">
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </span>
                    <input type='text' class="form-control" name='dispo_from' />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <%= f.input :stay_duration, collection: Aupair.stay_durations.keys, default: 0, label: "Pour quelle période souhaites-tu partir ?", label_method: lambda { |key| t(key) } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






<%#= f.input :dispo_from, start_year: Date.today.year, end_year: Date.today.year + 4, label: "A partir de quelles dates es-tu disponible ?", discard_day: true %>






<% end %>

<%= content_for :after_js do %>
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker7').datetimepicker({format: "DD/MM/YYYY"});
    });
  </script>
<% end %>
