<div class="fullpage">

  <div class="filter-block">

    <div class="identity-dashboard">

      <div>
        <div class="dsb-name-title"><%= @user.full_name %></div>
      </div>

    </div>

    <div class="item-dashboard">

      <i class="fa fa-genderless dsb-left-icon" aria-hidden="true"></i>
      <div>Age<div class="family-name4"><%= @user.age_display %> </div></div>

    </div>

    <div class="item-dashboard">

      <i class="fa fa-venus-mars dsb-left-icon" aria-hidden="true"></i>
      <div>Genre<div class="family-name4"><%= @user.gender_display %></div></div>

    </div>


    <div class="item-dashboard">
      <i class="fa fa-car dsb-left-icon" aria-hidden="true"></i>
      <div>Permis de conduire<div class="family-name4"><%= boolean_display(@user.driving_license) %></div></div>
    </div>

    <div class="item-dashboard">
      <i class="fa fa-futbol-o dsb-left-icon" aria-hidden="true"></i>
      <div>Sportif<div class="family-name4"><%= boolean_display(@user.sports) %></div></div>
    </div>

    <div class="item-dashboard">
      <i class="fa fa-music dsb-left-icon" aria-hidden="true"></i>
      <div>Musicien<div class="family-name4"><%= boolean_display(@user.musician) %></div></div>
    </div>

    <div class="item-dashboard">
      <i class="fa fa-genderless dsb-left-icon" aria-hidden="true"></i>
      <div>Expèrience Au-pair<div class="family-name4"><%= boolean_display(@user.experience_aupair) %></div></div>
    </div>

    <div class="item-dashboard">
      <i class="fa fa-genderless dsb-left-icon" aria-hidden="true"></i>
      <div>Expèrience Jeunesse<div class="family-name4"><%= boolean_display(@user.educational_experience) %></div></div>
    </div>

  </div>



  <div class="content-block">

    <div class="dashboard-top-container">

      <div class="aupair-photo">
        <div class="site-info">"Au-pair photo"</div>
      </div>


      <div class="aupair-show-info">

          <div class="your-search-item">
            <i class="fa fa-calendar your-search-left-icon" aria-hidden="true"></i>
            <div>Disponible à partir du <div class="family-name4"><%= @user.dispo_from %></div></div>
          </div>

          <div class="your-search-item">
            <i class="fa fa-globe your-search-left-icon" aria-hidden="true"></i>
            <div class="show-spokens">
              Pays recherchés
                <div class="sl-flex-inline">
                  <% @user.countries.each do |country| %>
                    <div class="family-name4"><%= country.name %>&nbsp; &nbsp;</div>
                  <% end %>
                </div>
            </div>
          </div>

      </div>

    </div>


    <div class="your-search" >

      <div class="your-search-item">
        <i class="fa fa-calendar your-search-left-icon" aria-hidden="true"></i>
        <div>Disponible à partir du <div class="family-name4"><%= @user.dispo_from %></div></div>
      </div>


      <div class="your-search-item">
        <i class="fa fa-sign-language your-search-left-icon" aria-hidden="true"></i>
        <div class="show-spokens">
          Langues parlées
            <div class="sl-flex-inline">
              <% @user.languages.each do |language| %>
                <div class="family-name4"><%= language.name %>&nbsp; &nbsp;</div>
              <% end %>
            </div>
        </div>
      </div>

    </div>


    <div class="ys-aupair-description">

      <div class="ds-title-link">
        <div class="ys-aupair-dsc-text">Description | </div>
        <i class="fa fa-pencil your-search-left-icon2" aria-hidden="true"></i>
      </div>

      <div class="dsc-text">
        <%= @user.try(:description) %>
      </div>

    </div>






  </div>

</div>
