
<div class="butrfly-wrapper div-center">
  <div class="butrfly-container div-center">
    <div class="hidden-xs hidden-ms">
      <%= render "shared/square_box", title: @user.name, color: :blue %>
      <% if current_user && @user == current_user.specific %>
        <div class="frame-default frame-btn fr-btn-blue margin-box">
          <div class="input-button div-center items-center">
            <%= link_to "MODIFIER", edit_aupair_path(@user) %>
          </div>
        </div>
      <% end %>
      <%= render "filters_show" %>

    </div>
    <div class="index-container">

      <div class="banner-folio">
        <% @user.photos.each_with_index do |photo, i| %>
          <div class="banner-folio-photo <%= ((@user.photos.size > 1 && i == 0) || i == 2) ? 'portrait' : 'landscape' %>" style="background-image: url('<%= cl_image_path photo.path %>');">
          </div>
        <% end %>
      </div>

      <div class="div-spacebetween margin-bottom-5px">
        <div class="btn-yellow-default bg-blue border-blue flex-auto div-center">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <label>
            <h2>DISPONIBLE À PARTIR DE</h2>
            <p><%= @user.dispo_from %></p>
          </label>
        </div>
        <div class="btn-yellow-default bg-blue border-blue flex-auto div-center">
          <i class="fa fa-history" aria-hidden="true"></i>
          <label>
            <h2>POUR QUELLE DURÉE</h2>
            <p><%= @user.stay_duration %></p>
          </label>
        </div>
        <div class="btn-yellow-default bg-blue border-blue flex-auto div-center">
          <i class="fa fa-globe" aria-hidden="true"></i>
          <label>
            <h2>PAYS RECHERCHÉS</h2>
            <p><%= @user.country_code %></p>
          </label>
        </div>
      </div>
      <div class="border-default padding-20px show-description">
        <div class="container-fluid">
          <h2>DESCRIPTION</h2>
          <p><%= @user.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>




