<div class="fullpage">

  <div class="left-column mq-hidden-under-680">

    <div class="identity-dashboard">

      <div>
        <div class="dsb-name-title"><%= @user.full_name %></div>
      </div>

    </div>


    <div class="item-dashboard">

      <div class="boo-true"><i class="fa fa-language" aria-hidden="true"></i></div>
      <div>
        <h6 class="spo-lan">Langues parlées</h6>
        <% @user.languages.each do |language| %>
          <div class="family-name4"><%= language.name_translated %>&nbsp; &nbsp;</div>
        <% end %>
      </div>

    </div>




    <div class="item-dashboard">

      <div class="boo-true"><i class="fa fa-wheelchair" aria-hidden="true"></i></div>
      <div>Son âge<div class="family-name4"><%= @user.age_display %> </div></div>

    </div>

    <div class="item-dashboard">

      <div class="boo-true"><i class="fa fa-venus-mars" aria-hidden="true"></i></div>
      <div>Sexe<div class="family-name4"><%= @user.gender_display %></div></div>

    </div>


    <div class="item-dashboard">
      <% if @user.driving_license == true %>
        <div class="boo-true"><i class="fa fa-car" aria-hidden="true"></i></div>
        <div class="boo-true-text">Possède le permis de conduire</div>
      <% elsif @user.driving_license == false %>
        <div class="boo-false"><i class="fa fa-car" aria-hidden="true"></i></div>
        <div class="boo-false-text">Ne possède pas le permis de conduire</div>
      <% else %>
        <div class="no-comm">Permis de conduire</div>
        <div class="warning-item"><i class="fa fa-warning dsb-left-icon" aria-hidden="true"></i></div>
      <% end %>
    </div>


    <div class="item-dashboard">
      <% if @user.experience_aupair == true %>
        <div class="boo-true"><i class="fa fa-flag" aria-hidden="true"></i></div>
        <div class="boo-true-text">A déjà eu une expérience au pair</div>
      <% elsif @user.experience_aupair == false %>
        <div class="boo-false"><i class="fa fa-flag" aria-hidden="true"></i></div>
        <div class="boo-false-text">N'a jamais eu une expérience au pair</div>
      <% else %>
        <div class="no-comm">Experience au-aupair</div>
        <div class="warning-item"><i class="fa fa-warning dsb-left-icon" aria-hidden="true"></i></div>
      <% end %>
    </div>


    <div class="item-dashboard">
      <% if @user.educational_experience == true %>
        <div class="boo-true"><i class="fa fa-user" aria-hidden="true"></i></div>
        <div class="boo-true-text">A une expérience dans la garde d'enfants</div>
      <% elsif @user.educational_experience == false %>
        <div class="boo-false"><i class="fa fa-user" aria-hidden="true"></i></div>
        <div class="boo-false-text">N'a pas d'expérience dans la garde d'enfants</div>
      <% else %>
        <div class="no-comm">Garde d'enfants</div>
        <div class="warning-item"><i class="fa fa-warning dsb-left-icon" aria-hidden="true"></i></div>
      <% end %>
    </div>


    <div class="item-dashboard">
      <% if @user.gender == :male and @user.sports == true %>
        <div class="boo-true"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>
        <div class="boo-true-text">Sportif</div>
      <% elsif @user.gender == :female and @user.sports == true %>
        <div class="boo-true"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>
        <div class="boo-true-text">Sportive</div>
      <% elsif @user.gender == :male and @user.sports == false %>
        <div class="boo-false"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>
        <div class="boo-false-text">Non sportif</div>
      <% elsif @user.gender == :female and @user.sports == false %>
        <div class="boo-false"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>
        <div class="boo-false-text">Non sportive</div>
      <% else %>
        <div class="no-comm">Sportif</div>
        <div class="warning-item"><i class="fa fa-warning dsb-left-icon" aria-hidden="true"></i></div>
      <% end %>
    </div>

    <div class="item-dashboard">
      <% if @user.gender == :male and @user.musician == true %>
        <div class="boo-true"><i class="fa fa-music" aria-hidden="true"></i></div>
        <div class="boo-true-text">Musicien</div>
      <% elsif @user.gender == :female and @user.musician == true %>
        <div class="boo-true"><i class="fa fa-music" aria-hidden="true"></i></div>
        <div class="boo-true-text">Musicienne</div>
      <% elsif @user.gender == :male and @user.musician == false %>
        <div class="boo-false"><i class="fa fa-music" aria-hidden="true"></i></div>
        <div class="boo-false-text">Non musicien</div>
      <% elsif @user.gender == :female and @user.musician == false %>
        <div class="boo-false"><i class="fa fa-music" aria-hidden="true"></i></div>
        <div class="boo-false-text">Non musicienne</div>
      <% else %>
        <div class="no-comm">Musicien</div>
        <div class="warning-item"><i class="fa fa-warning dsb-left-icon" aria-hidden="true"></i></div>
      <% end %>
    </div>

  </div>



  <div class="right-column">

    <div class="dashboard-top-container">

      <div class="aupair-photo">
        <div class="site-info">"Au-pair photo"</div>
      </div>


      <div class="aupair-show-info">



      </div>

    </div>


    <div class="your-search" >

      <div class="your-search-item">
        <i class="fa fa-calendar your-search-left-icon" aria-hidden="true"></i>
        <div>Disponible à partir de <div class="family-name4"><%= @user.dispo_from_display %></div></div>
      </div>


      <div class="your-search-item">
        <i class="fa fa-clock-o your-search-left-icon" aria-hidden="true"></i>
        <div>Pour quelle durée <div class="family-name4"><%= @user.stay_duration_display %></div></div>
      </div>

      <div class="your-search-item">
            <i class="fa fa-globe your-search-left-icon" aria-hidden="true"></i>
            <div class="show-spokens">
              Pays recherchés
                <div class="sl-flex-inline">
                  <% @user.countries.each do |country| %>
                    <div class="family-name4"><%= country.name_translated %>&nbsp; &nbsp;</div>
                  <% end %>
                </div>
            </div>
          </div>

    </div>


    <div class="ys-aupair-description">

      <div class="ds-title-link">
        <div class="ys-aupair-dsc-text">Description</div>
      </div>

      <div class="dsc-text">
        <%= @user.try(:description) %>
      </div>

      <%= link_to "Envoyer un message", conversations_path(sender_id: current_user.id, recipient_id: @user.acting_as.id), class: 'btn btn-primary', method: :post %>

    </div>






  </div>

</div>
