<div class="navbar-wagon-main">
  <!-- Logo -->
  <%= link_to root_path do %>
    <%= image_tag("logo-final-noir.png", class: "menu-icon") %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">
    <!-- Different navigation if login or not -->
    <%= link_to "A Propos", "", class: "navbar-wagon-item navbar-wagon-link-white" %>
    <%= link_to "Comment ça marche ?", "", class: "navbar-wagon-item navbar-wagon-link-white" %>
    <%= link_to "Aide", "", class: "navbar-wagon-item navbar-wagon-link-white" %>
    <%= link_to "Blog", "http://blog.butrfly.com/", target: "_blank", class: "navbar-wagon-item navbar-wagon-link-white" %>
    <% if user_signed_in? %>
      <%= link_to t(".sign_out", default: "Se déconnecter"), destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link-white", method: :delete %>
    <% else %>
      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Connexion"), '.login-sm', class: 'navbar-wagon-link2 navbar-wagon-item', 'data-toggle' => 'modal' %>
      <%= link_to t(".top_call_to_action", default: "Inscription"), '.signup-sm', class: 'navbar-wagon-link2 navbar-wagon-item', 'data-toggle' => 'modal' %>
    <% end %>
    <!-- Button (call-to-action) -->
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <%= link_to "Blog", "http://blog.butrfly.com/", target: "_blank", class: "navbar-wagon-item navbar-wagon-link-white" %>
        <% if user_signed_in? %>
          <div class="navbar-wagon-item usertype2">- <%= current_user.actable_type.capitalize %> -</div>
          <div class="navbar-wagon-item navbar-wagon-link-grey"><%= current_user.email %></div>
          <%= link_to t(".sign_out", default: "Se déconnecter"), destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link-white", method: :delete %>
        <% else %>
          <!-- Login text link -->
          <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link-white" %>
          <%= link_to t(".top_call_to_action", default: "Créer un compte"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link-white" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
