<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= yield_with_default(:title, t('meta-title')) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag %>
  </head>
  <body class="site">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="site-content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>

    <!-- login and sign_up modals -->
    <% unless user_signed_in? %>
      <%= render 'shared/signup_modal' %>
      <%= render 'shared/signin_modal' %>
      <%= render 'shared/oops_modal' %>

    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
    <%= cloudinary_js_config %>
  </body>
</html>
